* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #776b5d;
  --secondary-color: #ebe3d5;
  --third-color: #b0a695;
  --fourth-color: #f3eeea;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-color: var(--fourth-color);
}
